<div class="container mt-5">
  <div class="card bg-light my-2 mx-2 p-5">
    <div class="d-flex justify-content-between">
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="flex-grow-1 ">
        <div class="text-center">
          <h2><%= @cocktail.name %></h2>
          <i> <%= link_to "add doses", new_cocktail_dose_path(@cocktail), { class: "btn btn-primary" }%> </i>
        </div>
      </div>
    </div>
  </div>
        <% @cocktail.doses.each do |dose| %>
  <div class="card bg-light my-2 mx-2 p-5">
    <div class="d-flex justify-content-between">
          <p><%= dose.description %> </p>
          <p><%= dose.ingredient.name %> </p>
            <i> <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %> </i>
    </div>
  </div>
        <% end %>
</div>
